<h1>Edit Contact Us Info</h1>
<form method="post" action="/updatecontact">
{{#each contac}}
<div class="row">
	<div class="mb-3">
		<label for="addr" class="form-label">Address</label>
		<input type="text" class="form-control" name="addr" id="addr" value="{{loc_addr}}">
	</div>
</div>
{{/each}}
<div class="row">
	<div class="col">
		<div class="mb-3">
			<label for="country" class="form-label">Country</label>
			<select class="form-select" id="country" name="country" aria-selected="{{loc_country}}" >
				<option selected="true" disabled="disabled">Choose Country</option> 
				{{#each cnt_res}}
					<option value="{{CNT_ID}}">{{CNT_Long}}</option>
				{{/each}}
			</select>
		</div>
	</div>
	<div class="col">
		<div class="mb-3">
			<label for="prov" class="form-label">Province</label>
			<select class="form-select" id="province" name="province" >
				<option selected="true" disabled="disabled">Choose Province</option> 
			</select>
		</div>
	</div>
	<div class="col">
		<div class="mb-3">
			<label for="city" class="form-label">City</label>
			<select class="form-select" id="city" name="city">
				<option selected="true" disabled="disabled">Choose City</option> 
			</select>
		</div>
	</div>
</div>
{{#each contac}}
<div class="row">
	<div class="col">
		<div class="mb-3">
			<label for="postal" class="form-label">Postal Code</label>
			<input type="text" class="form-control" name="postal" id="postal" value={{loc_postal}}>
		</div>
	</div>
	<div class="col">
		<div class="mb-3">
			<label for="phone" class="form-label">Phone Number</label>
			<input type="text" class="form-control" name="phone" id="phone" value="{{loc_phone}}">
		</div>
	</div>
	<div class="col">
		<div class="mb-3">
			<label for="emailadd" class="form-label">Email Address</label>
			<input type="email" class="form-control" name="emailadd" id="emailadd" value={{loc_emailaddr}}>
		</div>
	</div>
</div>
{{/each}}
<div class="mb-3">
    <button type="submit" class="btn btn-primary">Update</button>
</div>
</form>

<script>
  const countrySelect = document.getElementById('country');
  const provinceSelect = document.getElementById('province');
  const citySelect = document.getElementById('city');

  countrySelect.addEventListener('change', () => {
    const countryCode = countrySelect.value;
    fetch(`/provinces/${countryCode}`)
		.then(response => response.json())
      	.then(prov_res => {
        provinceSelect.innerHTML = '';
		console.log(prov_res);
		const option = document.createElement('option');
		option.selected=true;
		option.disabled="disabled";
		option.text="Choose Province";
		provinceSelect.appendChild(option);
        prov_res.forEach(prov_res => {
			const option = document.createElement('option');
			option.value = prov_res.PROV_ID;
			option.text = prov_res.PROV_TEXT;
			provinceSelect.appendChild(option);
        });
      })
      .catch(error => {
        console.log(error);
        alert('An error occurred');
      });
  });

  provinceSelect.addEventListener('change', () => {
    const province = provinceSelect.value;
    fetch(`/cities/${province}`)
      .then(response => response.json())
      .then(city_res => {
        citySelect.innerHTML = '';
		const option = document.createElement('option');
		option.selected=true;
		option.disabled="disabled";
		option.text="Choose City";
		citySelect.appendChild(option);
        city_res.forEach(city_res => {
          const option = document.createElement('option');
          option.value = city_res.CT_ID;
          option.text = city_res.CT_NAME;
          citySelect.appendChild(option);
        });
      })
      .catch(error => {
        console.error(error);
        alert('An error occurred');
      });
  });
  
</script>