<h1>Donors</h1>
<div class="row">
    <div class="col">
        <button type="button" id="btnNew" name="btnNew" class="btn btn-primary" >NEW DONOR</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <th>DONOR ID</th>
                <th>DONOR NAME</th>
                <th>EMAIL ADDRESS</th>
                <th>PHONE</th>
                <th>STATUS</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
                {{#each donor_res}}
                <tr>
                    <td>{{donor_id}}</td>
					<td>{{d_title}} {{d_fname}} {{d_lname}}</td>
					<td>{{d_email}}</td>
					<td>{{d_phone}}</td>
                    <td>{{d_stat}}</td>
					<td><button class="edit-btn btn btn-secondary" data-id="{{donor_id}}" data-bs-toggle="modal" data-bs-target="#edit-modal">Edit</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("btnNew").onclick = function () {
        location.href = "/donors/add";
    };
</script>