<div class="jumbotron" style="padding-top:0px">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                        {{#if message}}
                            <p style="color: red">{{message}}</p>
                        {{/if}}
                    </div>
                    <div class="panel-body">
                        <form method="post" action="/login">
                            <div class="form-group">
                                <input type="text" class="form-control" id="txtuname" name="txtuname" placeholder="Enter username" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="password" class="form-control" id="txtpword" name="txtpword" placeholder="Enter password" required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <img class="img rounded img-fluid"
					src="/images/welcome.jpeg" alt="TCF">
      <h1 class="display-4">Welcome to The Catholic Foundation</h1>
</div>
<hr class="my-4">
<h1 class="text-center"><span class="badge bg-secondary">News and Events</span></h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        {{#each ne_res}}
        <div class="card h-100">
            <img src="{{ne_image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <span class="badge text-bg-dark">{{type_txt}}</span>
                <br>
                <h5 class="card-title">{{ne_title}}</h5>
                <p class="card-text">{{det_short}}</p>
                <br>
                <div class="d-grid gap-2">
                    <a href="/newsevents/{{ne_id}}" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    {{#isLessThan dtdif 60}}
                    Last updated {{dtdif}} mins ago
                    {{else}}
                    Posted on {{dtname}}
                    {{/isLessThan}}
                </small>
            </div>
        </div>
        {{/each}}
    </div>
</div>
        